*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .navbar-nav,
    .navbar-header,
    .dropdown,
    .mybtn:not(.signin-btn) {
      display: none !important;
    }

    .navbar-brand,
    .navbar-toggler,
    .signin-btn {
      display: block !important;
    }
  }

  /**************************************************************/



.banner{
    display: flex;
    width: 100vw;
    height: 65vh;
    background: url(/responsive/pic/banner.webp);
    background-size: cover;
background-repeat: no-repeat;
color: white;
align-items: center;
padding: auto;
}

.text4banner{
    flex: 100%;
text-align: center;
width: 15%;

}

.navbarlogo{
width: 4rem;
padding-top: 0;
}

.navbar-brand {
    padding: 5px 25px;
}

.navbar {
    background-color: rgb(0,147,164);
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.dropdown-border{
    border-bottom: 1px solid black;
}
.mybtn{
    background: none;
    border: 2px solid white ;
    color: white;
    margin-left:0.7rem;
}

a{
    color: white;

}

.help{
    padding: 14px 10px;
}
.mybtnbanner{    
    background: none;
    border: 2px solid white ;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

p > img{    width: 20vh;}

.bannermargin{margin-bottom: 3rem;}

@media (max-width: 576px) {
.banner{
    background: url(/responsive/pic/banner\ phone.webp);
    background-size: cover;
background-repeat: no-repeat;

}

.analatic{
    flex-direction: column;
    
}
.cato1{ flex: 100; }
.cato2{ flex: 50%; }


.cards{
    flex-direction: column;
}

.games{
    flex-direction: column;
    height: 20vh;

}
.links{
    visibility: hidden;
}
.footer{
flex-direction: column-reverse;
padding: 50px;
}
.rightfooter{
    text-align: center; 
}
.leftfooter{
    margin-top: 50px;
flex-direction: column-reverse;
}

.logopadding{
    padding: 10px;
}

#language{
    width: 60%;
}
}

/*************************************************************************************************************/
.numbers-bars{
text-align: center;
}

.analatic{
display: flex;
width: 100%;
height: auto;
justify-content: center;

}

/*************************************************************************************************************/

.cato1{
    flex: 100%;
    font-weight: bold;
}

.cato2{
    flex: 100%;
    font-weight: bold;
}

@media (max-width: 576px) {
    .cato1{ flex: 100; }
    .cato2{ flex: 50%; }


}



.cards{
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}

.card{
    flex: 1;  
    height: 100%;
    border: solid white;
    border-radius: 100px;
}
.firstrows{
    background: url(/responsive/pic/minecraft.jpg) ;
    background-size: cover;
    position: relative;
    height: 220px;
}
.snsrows{
    background: url(/responsive/pic/bee.jpg) ;
    background-size: cover;
    position: relative;
    height: 220px;
}
.thrdrows{
    background: url(/responsive/pic/us.jpg) ;
    background-size: cover;
    position: relative;
    height: 220px;
}
.fthrows{
    background: url(/responsive/pic/map.jpg) ;
    background-size: cover;
    position: relative;
    height: 220px;
}
.cardtitle1{background-color: rgba(0, 173, 188, 0.92); 
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 1rem;}
.cardtitle2{background-color:rgba(118, 101, 160, 0.92);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 1rem;}
.cardtitle3{background-color: rgba(0, 148, 202, 0.92);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 1rem;}
.cardtitle4{background-color: rgb(209, 213, 103, 0.92);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2rem;
    padding: 1rem;}

.rows1{
    background-color: rgba(0, 173, 188, 0.92);
    color: white;
    font-size: 1.5rem;
}
.rows2{
    background-color:rgba(118, 101, 160, 0.92);
    color: white;
    font-size: 1.5rem;
}
.rows3{
    background-color: rgba(0, 148, 202, 0.92);
    color: white;
    font-size: 1.5rem;
}
.rows4{
    background-color: rgb(209, 213, 103, 0.92);
    color: white;
    font-size: 1.5rem;
}

.alert{
    width: 100%;
    color: white;
    background-color:rgb(255, 164, 0); 
    text-align: center;
    padding: 0.5rem;
    margin-top: 0;
}

.games{
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;

}
.imggame1{
    flex: 1;
    background-image: url(/responsive/pic/gallery_thumbnails_2019a.jpg);
    width: 100%;
    background-size: cover;
    height: 120px;

}

.imggame2{
    flex: 1;
    background-image: url(/responsive/pic/gallery_thumbnails_2019b.jpg);
    width: 100%;
    background-size: cover;
    height: 120px;

}
.thanks{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    height: 20rem;
    align-items: center;
}
.thanksbtn{
    background-color: #6f488e;
    border: 2px solid white ;
    color: white;
    font-size: 1.5rem;
    border-radius: 9px;
    padding: 1rem;
}

.thanks > div > a{
    color: #6f488e;
    text-decoration: underline;
}


.footer{
    background-color:#3f444b;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.spec > a{
    color: orange;
}

.links{
    display: flex;
    width: 100%;
}

.footerpic{
    width: 190px;
}
#language{
    color: black;
}
.leftfooter{
    display: flex;
    flex-direction: column;
}

